{% extends 'customer/common/layout.html' %}
{% block content %}
{% load static %}
 <!-- page-title -->
        <div class="cmt-page-title-row">
            <div class="cmt-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">About Us </h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <a title="Homepage" href="index.html">Home</a>
                                </span>
                                <span>About Us</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">


        <!--about_fid-section-->
        <section class="cmt-row about_fid-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="pt-10 res-991-pt-0">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h5>ABOUT TRANSPORT</h5>
                                    <h2 class="title">Our Logistic Mision </h2>
                                </div>
                                <div class="heading-seperator"><span></span></div>
                            </div><!-- section title end -->
                            <p>Our vision is to make shipping and logistics simple and seamless for every business in India</p>
                            <div class="row mt-20 mb-10">
                                <div class="col-lg-6 col-md-5 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Easy to use</div></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Learn from customer feedback</div></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon">
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Multiple courier providers</div></li>
                                        <li><i class="fa fa-arrow-circle-right"></i><div class="cmt-list-li-content">Customer support </div></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="section-title">
                            <div class="title-header">
                                
                                <h2 class="title">Delivering The Best Transport Logistics.</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                        <p>Our logistics expertise, advanced supply chain technology & customized logistics solutions will help you analyze, develop and implement successful supply chain management strategies from end-to-end.</p>
                            
                            <div class="mt-25 mb-25">
                                <span class="cmt-horizontal_sep"></span>
                            </div>
                                          
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-9 mt-0 mx-auto">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper res-991-pt-30 res-991-pb-30">
                            <img class="img-fluid" src="{% static 'customer/images/single-img-six.jpg' %}" alt="image">
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
            <div class="mt_60 res-991-mt-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="cmt-col-bgcolor-yes cmt-bgcolor-white cmt-bg pt-10 pr-10">
                                <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                    <div class="cmt-col-wrapper-bg-layer-inner"></div>
                                </div>
                                <div class="layer-content cmt-bgcolor-grey">
                                    <div class="row cmt-vertical_sep">
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="ti ti-medall"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="143" 
                                                                data-interval="15" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">143
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title">Awards Winning</h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="flaticon-shipping-and-delivery"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="4" 
                                                                data-interval="2" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">4
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title">Companies </h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6 cmt-box-col-wrapper">
                                            <!-- cmt-fid -->
                                            <div class="cmt-fid inside cmt-fid-with-icon cmt-fid-view-lefticon">
                                                <div class="cmt-fid-icon-wrapper cmt-textcolor-skincolor">
                                                    <i class="flaticon-list"></i>
                                                </div>
                                                <div class="cmt-fid-contents">
                                                    <h4 class="cmt-fid-inner">
                                                        <span   data-appear-animation="animateDigits" 
                                                                data-from="0" 
                                                                data-to="675" 
                                                                data-interval="15" 
                                                                data-before="" 
                                                                data-before-style="sup" 
                                                                data-after="" 
                                                                data-after-style="sub" 
                                                                class="numinate">675
                                                        </span>
                                                        <sub>+</sub>
                                                    </h4>
                                                    <h3 class="cmt-fid-title">Complete Deliveries</h3>
                                                </div>
                                            </div><!-- cmt-fid end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
        </section>
        <!--about_fid-section end-->

        <!--timeline-section-->
        <section class="cmt-row timeline-section cmt-bgcolor-darkgrey cmt-bg cmt-bgimage-yes bg-img5 clearfix">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h5>ABOUT TRANSPORT</h5>
                                <h2 class="title">Why You Need The Top Logistic</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2012</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In India</h3>
                                <p>We further went ahead to become the multiple providers in the logistics.</p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2013</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In India</h3>
                                <p>Goods, warehousing and transport services for the corporate.</p>
                            </div>
                        </div>
                    </div>
                      <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2015</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In India</h3>
                                <p>we widened to Gujarat for the transport service.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="timeline-panel">
                            <div class="timeline-date">
                                <span class="timeline-year">2018</span>
                            </div>
                            <div class="time-line-dot">
                                <i class="fa fa-circle"></i>
                            </div>
                            <div class="timeline-body">
                                <h3 class="title">Founded In India</h3>
                                <p>It is Formed with a focus on Rural Transportation needs in gujrat.</p>
                            </div>
                        </div>
                    </div>
                  
                   
                   
                </div><!-- row end -->
            </div>
        </section>
        <!--timeline-section end-->


        <!--procedure-section-->
        <section class="cmt-row procedure-section clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-7 m-auto">
                        <!-- section title -->
                        <div class="section-title title-style-center_text">
                            <div class="title-header">
                                <h5>ABOUT TRANSPORT</h5>
                                <h2 class="title">We give you complete control your shipments.</h2>
                            </div>
                            <div class="heading-seperator"><span></span></div>
                        </div><!-- section title end -->
                    </div>
                </div><!-- row end -->
                <div class="row"><!-- row -->
                    <div class="col-lg-3">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-procedure">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'customer/images/process-img-one-162x162.jpg' %}" alt="image">
                                <div class="process-num"></div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Choose your shipment</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Import all your orders with automated channel sync and select the shipment</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-procedure">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'customer/images/process-img-two-162x162.jpg' %}" alt="image">
                                <div class="process-num"></div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Compare Prices</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>We providing you multiple courier partners so you can compare prices.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-procedure">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'customer/images/process-img-three-162x162.jpg' %}" alt="image">
                                <div class="process-num"></div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Select courier partner</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Based on your requirement select a courier partner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="col-lg-3">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-procedure">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'customer/images/process-img-four-162x162.jpg' %}" alt="image">
                                <div class="process-num"></div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>Pack and ship</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Pack your orders, print labels and hand it over to the courier partner</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div>
            </div>
        </section>
        <!--procedure-section end-->


        <!--broken-section-->
        
        <!--statement-section end-->


    </div><!--site-main end-->
{% endblock %}