{% extends 'customer/common/layout.html' %}

{% block content %}
<style>
    /* CSS Styles for Order Summary Page */

    .order-summary-container {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 30px auto;
    }

    .order-summary-header h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
        text-align: center;
    }

    .order-summary-divider {
        border-top: 2px solid #ddd;
        margin: 20px 0;
    }

    .order-summary-body {
        margin-top: 20px;
    }

    .sender-receiver-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .sender-info, .receiver-info {
        flex-basis: 48%;
    }

    .order-details h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .order-details p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .order-summary-footer {
        margin-top: 20px;
        text-align: center;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 10px;
    }

    .btn-white {
        background-color: #fff;
        color: #333;
        border: 1px solid #ccc;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }
</style>

{% comment %} <form method="post" action="{% url 'add_company_order' order_info.id %}"> {% endcomment %}


    <form method="post" action="/customer/process_payment/">
    {% csrf_token %}
<div class="wrapper-pro">
    <div class="content-inner-all">
        <div class="basic-form-area mg-b-15">
            <div class="order-summary-container">
                <div class="order-summary-header">
                    <h1>Order Summary</h1>
                  
                </div>
                <hr class="order-summary-divider">
                <div class="order-summary-body">
                    <div class="sender-receiver-info">
                        <div class="sender-info">
                            <h3>Sender Information</h3>
                            {% if sender_order %}
                            <p><strong>Name:</strong> {{ sender_order.Sender_name }}</p>
                            <p><strong>Email:</strong> {{ sender_order.Sender_email }}</p>
                            <p><strong>City:</strong> {{ sender_order.Sender_city }}</p>
                            <p><strong>Phone Number:</strong> {{ sender_order.Sender_phone_number }}</p>
                            <p><strong>Pickup address:</strong> {{ sender_order.Pickup_address_line1 }} {{ sender_order.Pickup_address_line2 }}</p>
                            <!-- Add other sender fields as needed -->
                            {% endif %}
                        </div>
                        <div class="receiver-info">
                            <h3>Receiver Information</h3>
                            {% if receiver_order %}
                            <p><strong>Name:</strong> {{ receiver_order.Receiver_name }}</p>
                            <p><strong>Email:</strong> {{ receiver_order.Receiver_email }}</p>
                            <p><strong>Phone Number:</strong> {{ receiver_order.Receiver_phone_number }}</p>
                            <p><strong>City:</strong> {{ receiver_order.Receiver_city }}</p>
                            <p><strong> Delivery address:</strong> {{ receiver_order.Delivery_address_line1 }}  {{ receiver_order.Delivery_address_line2 }}</p>
                            <!-- Add other receiver fields as needed -->
                            {% endif %}
                        </div>
                    </div>
                    <div class="order-details">
                        <h3>Order Details</h3>
                                {% if latest_order_info %}
                                <p>Date: {{ latest_order_info.date }}</p>
                                <p>Order Type: {{ latest_order_info.order_type }}</p>
                                <p>Product Name: {{ latest_order_info.product_name }}</p>
                                {% comment %} <p>Quantity: {{ latest_order_info.quantity }}</p>
                                <p>Unit Price: ₹{{ latest_order_info.unit_price }}</p> {% endcomment %}
                                {% comment %} <p>Total: ₹{{ latest_order_info.total }}</p> {% endcomment %}
                                <h5>Shipping Details</h5>
                                <p id="calculated-total">Weight: {{ latest_order_info.weight }} kg</p>
                                <p>weight ranges: {{ weight_display }}</p>
                                <p>Length: {{ latest_order_info.length }} cm</p>
                                <p>Width: {{ latest_order_info.width }} cm</p>
                                <p>Height: {{ latest_order_info.height }} cm</p>
                                <h5>Payment Information</h5>
                                <p>Payment Method: {{ latest_order_info.payment_method }}</p>
                                {% else %}
                                <p>No order information available.</p>
                                {% endif %}
                                <div class="company-info">
                                    <h3>Company Information</h3>
                                    {% if weight_company_mapp and weight_company_map %}
                                        <!-- Iterate over weight ranges and display company info -->
                                        {% for weight_range, companiess in weight_company_mapp.items %}
                                        {% for weight_range_map, companies_map in weight_company_map.items %}
                                        {% if weight_range == weight_display and weight_range == weight_range_map %}
                                        <h4>Weight Range: {{ weight_range }}</h4>
                                        <ul>
                                            {% for company_range, company_list in weight_company_map.items %}
                                                {% if company_range == weight_range %}
                                                    {% for company_map in company_list %}
                                                        <li>
<input type="radio" id="company_{{ company_map.0.id }}" name="selected_company" value="{{ company_map.0.id }}">
                <label for="company_{{ company_map.0.id }}">Company name: {{ company_map.0.owner_name }} - Price: {{ company_map.1.price }}</label>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    
                                        {% endfor %}
                                    {% endfor %}                                    
                                    {% endif %}
                                </div>
                                
                                
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label class="login2 pull-right pull-right-pro">Total</label >
                                        </div>
                                        <div class="col-lg-9">
                                            <input type="tel" class="form-control" name="total" maxlength="7" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-summary-footer">
                                <button class="btn btn-white" type="button">Cancel</button>
                                <button class="btn btn-primary" type="submit" id="submitOrderBtn">Proceed to Payment</button>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
          
            

            <script>
                // Listen for changes in selected company radio buttons
                document.querySelectorAll('input[name="selected_company"]').forEach(function(radio) {
                    radio.addEventListener('change', function() {
                        // Get the selected company's price
                        var price = parseFloat(this.nextElementSibling.textContent.split('Price: ')[1]);
            
                        // Get the weight from the Django template variable
                        var weightString = document.getElementById('calculated-total').innerText;
                        var weight = parseFloat(weightString.split(' ')[1]);
            
                        // Calculate the total
                        var total = price * weight;
            
                        // Update the value of the total input field
                        document.querySelector('input[name="total"]').value = total.toFixed(2);
                    });
                });
            
                // Function to submit the form
                document.getElementById('submitOrderBtn').addEventListener('click', function() {
                    // Manually trigger form submission
                    document.getElementById('CompanyOrderForm').submit();
                });
            </script>
            
            {% endblock %}
       