{% extends 'customer/common/layout.html' %}

{% block content %}
<div class="wrapper-pro">
    <div class="content-inner-all">   
        <div class="basic-form-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sparkline12-list shadow-reset mg-t-30">
                            <div class="sparkline12-hd">
                                <div class="main-sparkline12-hd">
                                    <h1>Success!</h1>
                                    <h3><center>Your order has been successfully submitted.</center></h3>
                                </div>
                            </div>
                            <hr style="height:2px;border-width:0;color:darkblue;background-color:darkblue">
                            <div class="sparkline12-graph">
                                <p><center>Thank you for placing your order with us. You will receive an email confirmation shortly.</center></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
