{% extends 'customer/common/layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Feedback from Users</h2>
            <ul>
                {% for item in readf %}
                    <li>
                        <strong>Name:</strong> {{ item.name }} <br>
                        <strong>Email:</strong> {{ item.email }} <br>
                        <strong>Contact:</strong> {{ item.contact }} <br>
                        <strong>Message:</strong> {{ item.message }} <br>
                    </li>
                {% empty %}
                    <li>No feedback available.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
