{% load static %}
<!--footer start-->

<footer class="footer widget-footer cmt-bgcolor-grey clearfix">
        <div class="first-footer bg-img6 cmt-bg cmt-bgimage-yes cmt-bgcolor-darkgrey">
            <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">  
                       <div class="widget widget-out-link clearfix">
                            <i class="ti ti-mobile"></i>
                            <h3 class="widget-title">Have a question? call us now</h3>
                            <p>Office 1: +(91) 63556 60188<br>Office 2: +(91) 95749 53844</p>
                            
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">  
                       <div class="widget widget-out-link clearfix">
                            <i class="ti ti-email"></i>
                            <h3 class="widget-title">Need support? Drop us an email</h3>
                            <p>Xclusiveshipping@yahoo.com<br>Xship@gmail.com</p>
                            
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-12 col-md-4 widget-area">
                        <div class="widget widget-out-link clearfix">
                            <i class="ti ti-timer"></i>
                            <h3 class="widget-title">We are open on</h3>
                            <p>Mon – Sat 06:00 – 20:00<br>Sunday – Closed</p>
                            
                        </div>
                    </div>
                </div><!-- row end -->    
            </div>
        </div>
        <div class="second-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text clearfix">
                            <div class="footer-logo">
                                <img id="footer-logo-img" class="img-center" src="{% static 'customer/images/logo.jpg ' %}" alt="" height="80" width="150">
                            </div>
                            <div class="textwidget widget-text">
                                <p>Xclusive Shipping, is Gujrat’s best logistics software, which offers you automated shipping solution. Using this, you can ship anywhere in any cities of Gujrat with using best courier companies and at discounted rates.</p>
                            </div>
                            <div class="cmt-horizontal_sep width-100 mt-25 mb-25">
                                <span class="sep_holder"><span class="sep_line"></span></span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-darkgrey cmt-icon_element-size-md mb-0">
                                    <i class="fa fa-files-o"></i>
                                </div>
                                <div class="pl-15">
                                    <h5 class="mb-0">Get Free Inquiry</h5>
                                    <div class="desc cmt-textcolor-skincolor">+91 9732685088</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix">
                           <h3 class="widget-title">Quick Links</h3>
                            <ul id="menu-footer-quick-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget style2 widget-out-link clearfix">
                           <h3 class="widget-title">Reach Us At</h3>
                            <ul class="widget-post cmt-recent-post-list">
                                <li>
                                    <a><img src="{% static 'customer/images/blog/thumb-01.jpg ' %}" alt="post-img"></a>
                                    <div class="post_detail">
                                        <p>Xclusive Shipping PlotNo-2 ,S.G. Road, Ahmedabad- 382350</p>
                                    </div>
                                </li>
                                <li>
                                    <a><img src="{% static 'customer/images/blog/thumb-02.jpg ' %}" alt="post-img "></a>
                                    <div class="post_detail">
                                        <p>Xclusive Shipping block-101 katargam ashramroad vadodara-23150</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget-social clearfix">
                           <h3 class="widget-title">Our Services</h3>
                           <p>visit service page to know about our services.</p>
                            <div class="social-icons circle mt-30">
                                <ul class="list-inline">
                                    <li class="social-facebook"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="ti ti-facebook"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Linkedin"><i class="ti ti-linkedin"></i></a></li>
                                    <li class="social-instagram"><a class="tooltip-top" target="_blank" href="#" data-tooltip="Google"><i class="ti ti-google"></i></a></li>
                                    <li class="social-twitter"><a class="tooltip-top" target="_blank" href="#" data-tooltip="twitter"><i class="ti ti-twitter-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-text">
            <div class="container">
                <div class="row copyright">
                    <div class="col-lg-12">
                        <div><span class="cmt-textcolor-skincolor mr-2"><i class="fa fa-map-marker"></i></span>382350-Ahmedabad, Gujrat India.</div>
                        <span>Copyright © 2024 Xclusive Shipping </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

 <!--footer end-->