{% extends 'myadmin/common/layout.html' %}
{% block content %}

<div class="col-lg-12">
    <div class="tab-content">
        <div id="inbox" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">
            <div>
                <h2>All Orders List</h2>
            </div>
            <div class="datatable-dashv1-list custom-datatable-overright">
                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">
                    <thead>
                        <tr>
                            <th data-field="orderid">Order ID</th>
                            <th data-field="sendername">Sender Name</th>
                            <th data-field="senderemail">Sender Email</th>
                            <th data-field="receivername">Receiver Name</th>
                            <th data-field="receiveremail">Receiver Email</th>
                            <th data-field="orderdate">Order Date</th>
                            <th data-field="ordertype">Order Type</th>
                            <th data-field="productname">Product Name</th>
                            <th data-field="weight">Weight</th>
                            <th data-field="length">Length</th>
                            <th data-field="width">Width</th>
                            <th data-field="height">Height</th>
                            <th data-field="paymentmethod">Payment Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            {% for sender in sender_orders %}
                            {% for receiver in receiver_orders %}
                                <tr class="new-email">
                                    <td>{{ order.id }}</td>
                                    <td>{{ sender.Sender_name }}</td>
                                    <td>{{ sender.Sender_email }}</td>
                                    <td>{{ receiver.Receiver_name }}</td>
                                    <td>{{ receiver.Receiver_email }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.order_type }}</td>
                                    <td>{{ order.product_name }}</td>
                                    <td>{{ order.weight }}</td>
                                    <td>{{ order.length }}</td>
                                    <td>{{ order.width }}</td>
                                    <td>{{ order.height }}</td>
                                    <td>{{ order.payment_method }}</td>
                                </tr>
                            {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
