{% extends 'myadmin/common/layout.html' %}
{% block content %}


<div class="col-lg-12">
                                    <div class="tab-content">
                                        <div id="inbox" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">
                                            <div>
                                                <h2>Reports</h2>
                                                <div class="view-mail-action view-mail-ov-d-n">
                                                    
                                                    <a class="compose-draft-bt" href="javascript:window.print()"><i class="fa fa-print"></i> Print</a>
                                                    <a class="compose-discard-bt" href="#"><i class="fa fa-trash-o"></i> Trash</a>
                                                </div>
                                            </div>
                                            <div class="datatable-dashv1-list custom-datatable-overright">
                                                <div id="toolbar1">
                                                    <select class="form-control">
                                                        <option value="">Export Basic</option>
                                                        <option value="all">Export All</option>
                                                        <option value="selected">Export Selected</option>
                                                    </select>
                                                </div>
                                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar1">
                                                    <thead>
                                                        <tr>
                                                            <th data-field="state" data-checkbox="true"></th>
                                                            <th data-field="id">ID</th>
                                                            <th data-field="name">Name</th>
                                                            <th data-field="email">Email</th>
                                                            <th data-field="phone">phone number</th>
                                                            <th data-field="Massage">Subject</th>
                                                            <th data-field="company">Massage</th>
                                                            <th data-field="complete">Date</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="new-email">
                                                            <td></td>
                                                            <td>1</td>
                                                            <td>Google</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Account Security Alert</td>
                                                            <td>Your Google Account was just signed...</td>
                                                            <td>10.00 pm</td>
                                                    
                                                        </tr>
                                                        <tr class="new-email">
                                                            <td></td>
                                                            <td>2</td>
                                                            <td>Twitter</td>
                                                            <td>Vidhivndra@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>login to Twitter</td>
                                                            <td>Bring Light to Your Photos...</td>
                                                            <td>11.00 pm</td>
                                                        </tr>
                                                        <tr class="new-email">
                                                            <td></td>
                                                            <td>3</td>
                                                            <td>LinkedIn</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Career Interests</td>
                                                            <td>We will share your career interests... </td>
                                                            <td>11.30 pm</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>4</td>
                                                            <td>Reddit</td>
                                                            <td>Vidhivandrra@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Verify Email</td>
                                                            <td>Visit this link to verify your email...</td>
                                                            <td>1 Day ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>5</td>
                                                            <td>Google+</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Welcome Google+</td>
                                                            <td>Explore the topics you love</td>
                                                            
                                                            <td>2 Day ago</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>6</td>
                                                            <td>Envato</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Envato Market</td>
                                                            <td>you have an Envato Account...</td>
                                                            <td>3 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>7</td>
                                                            <td>Support</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Hello SRTtheme</td>
                                                            <td>Thank you for submitting your item...</td>
                                                            <td>4 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>8</td>
                                                            <td>James</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Hello Mamun</td>
                                                            <td>A new bounty has been added for...</td>
                                                            <td>5 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>9</td>
                                                            <td>Mamunur</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Congrats!</td>
                                                            <td>Your storefront has been activated!...</td>
                                                            <td>6 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>10</td>
                                                            <td>SRTtheme</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Activate SRTtheme</td>
                                                            <td>Please click the button below to...</td>
                                                            <td>7 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>11</td>
                                                            <td>AdWords</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Welcome AdWords</td>
                                                            <td>Potential customers are waiting for...</td>
                                                            <td>8 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>12</td>
                                                            <td>WordPress</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Password Reset</td>
                                                            <td>Someone recently requested that the...</td>
                                                            <td>9 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>13</td>
                                                            <td>LinkedIn</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>MD Mamunur</td>
                                                            <td>People found you in search this week...</td>
                                                            <td>15 Days ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>14</td>
                                                            <td>Shamima</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Hi MD Mamunur</td>
                                                            <td>please add me to your LinkedIn...</td>
                                                            <td>17 Days ago</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>15</td>
                                                            <td>Instagram</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Confirm Instagram</td>
                                                            <td>Confirm your email address for...</td>
                                                            <td>1 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>16</td>
                                                            <td>Mojo</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Mojo Marketplace</td>
                                                            <td>Did you forget your shopping cart?...</td>
                                                            <td>2 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>17</td>
                                                            <td>Drom Fly</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Dreams</td>
                                                            <td>Setup the Studio of Your Dreams...</td>
                                                            <td>3 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>18</td>
                                                            <td>Amin Khan</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Photos</td>
                                                            <td>Bring Light to Your Photos</td>

                                                            <td>4 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>19</td>
                                                            <td>Illustration</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Collection</td>
                                                            <td>Collect a Charming Illustration...</td>
                                                            
                                                            <td>5 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>20</td>
                                                            <td>Jay Roy</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Title</td>
                                                            <td>Set a Spark to Your Titles...</td>
                                                            
                                                            <td>6 month ago</td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>21</td>
                                                            <td>Fox Eye</td>
                                                            <td>Vidhi@gmail.com</td>
                                                            <td>9726878935</td>
                                                            <td>Logo</td>
                                                            <td>Open Your Mind or Your Logo</td>
                                                            
                                                            <td>1 Year</td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                     </div>

</div>            
{% endblock %}

